<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myt">
        <activity
            android:name=".BluetoothMatchSucceedActivity"
            android:exported="false" />
        <activity
            android:name=".BluetoothMatchFailedActivity"
            android:exported="false" />
        <activity
            android:name=".HereIsNothingActivity"
            android:exported="false" />
        <activity
            android:name=".MultiplayerResultActivity"
            android:exported="false" />
        <activity
            android:name=".MultiplayerSudokuActivity"
            android:exported="false" />
        <activity
            android:name=".BluetoothMatchActivity"
            android:exported="false" />
        <activity
            android:name=".SingleFailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleSucceedActivity"
            android:exported="false" />
        <activity
            android:name=".UserMsgActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".LoginActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SudokuActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Sudu" -->
        <!-- android:exported="false" /> &lt;!&ndash; <activity &ndash;&gt; -->
        <!-- android:name=".EditBorderActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".EditSimpleActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>